<div class="about" id="about">
  <div class="about-container glass ">
    <!-- About Text -->
    <div class="about-right">
      <h2 class="neon-title animate-item" style="--delay: 0.2s;">About Me</h2>
      <p class="animate-item" style="--delay: 0.5s;">
        I'm <span class="highlight">Deeksha</span>, a passionate 
      <span class="highlight">Software Developer</span> who loves building 
      intelligent systems with clean, maintainable code. I enjoy exploring 
      new technologies and applying them to real-world problems.I am constantly learning and experimenting with 
      modern frameworks, tools, and generative AI technologies to craft 
      solutions that are both functional and visually appealing.My approach combines creativity and technical precision, ensuring that the solutions I build are effective, 
      elegant, and impactful. I thrive on projects that challenge me to innovate and continuously grow as a developer.
      </p>
      <p class="animate-item" style="--delay: 0.8s;">
      

      <h3 class = "subheading">What I Believe In</h3>
  <p>
    <em>"Clean code, meaningful data, and intelligent automation can change the way
    we solve problems."</em>  
    I always strive to write code that is readable, reusable, and scalable, while
    building solutions that are impactful and efficient.
  </p>

  <h3 class="subheading">Fun Fact</h3>
  <p>
    Besides coding, I enjoy exploring new technologies, reading about AI advancements,
    and and writing insightful technical content. I also love adding a touch
    of aesthetics to every project I work on, because code should look as good as it works!
  </p>
    </div>
  </div>
</div>
